<div class="desktop-container">
  <nav>
    <div class="nav__logo">
      <%= image_tag("codecaravan-logo-square-10.svg") %>
    </div>
    <div class="nav__menu">
      <div><a href="#services">services</a></div>
      <div><a href="#caravan">about</a></div>
      <div><a href="#contact">contact</a></div>
    </div>
  </nav>
  <div class="banner">
    <div class="banner__info">
      <div class="banner__title">
        <h1>< Design & coding /></h1>
          <h2>Building apps on demand</h2>
        </div>
      </div>
      <div class="banner__text">
        <p>By integrating technology with design, we give shape to your project. Check all of our services below</p>
      </div>
      <div class="banner__image"></div>
    </div>
    <div class="areas" id="services">
      <div class="wrapper flex-cards">
        <div class="areas__cards">
          <%= image_tag("tech-icon-color.svg") %>
          <h3>Technology</h3>
          <ul>
            <li>SaaS</li>
            <li>Web applications</li>
            <li>Mobile apps and games</li>
          </ul>
        </div>
        <div class="areas__cards">
          <%= image_tag('digital-icon-color.svg') %>
          <h3>ECommerce</h3>
          <ul>
            <li>Websites</li>
            <li>Landing pages</li>
            <li>Sales consulting</li>
          </ul>
        </div>
        <div class="areas__cards">
          <%= image_tag('design-icon-color.svg') %>
          <h3>Design</h3>
          <ul>
            <li>Branding</li>
            <li>Visual identity</li>
            <li>Ebooks and publishing</li>
          </ul>
        </div>
        <div class="areas__icon"></div>
      </div>
    </div>
    <div class="banner2">
      <div id="banner__wrapper">
        <div class="card2">
          <h3>Our compromise</h3>
          <p>We are a full stack agency focused on results that will make your project stand out from the crowd. The name Codecaravan highlights our ability to attend and build projects for clients worldwide, without frontiers.</p>
        </div>
      </div>
    </div>
    <div class="our_caravan__container" id="caravan">
      <div class="our_caravan">
        <div class="card_main">
          <%= image_tag('caravan-color.svg') %>
          <h3>Our Caravan</h3>
          <%# <p>Meet the team behind our Caravan</p> %>
        </div>
        <div class="card_cesar">
          <%= image_tag('Cesar@2x.png') %>
          <div class="border-card">
            <h3>Cesar Corregiari</h3>
            <p>Backend developer</p>
          </div>
        </div>
        <div class="card_vinicius">
          <%= image_tag('Vinicius@2x.png') %>
          <div class="border-card">
            <h3>Vinicius Alvim</h3>
            <p>Backend developer</p>
          </div>
        </div>
        <div class="card_debora">
          <%= image_tag("Debora@2x.png") %>
          <div class="border-card">
            <h3>Debora Pinheiro</h3>
            <p>Frontend developer</p>
          </div>
        </div>
        <div class="card_joao">
          <%= image_tag('Joao@2x.png') %>
          <div class="border-card">
            <h3>João<br>
              Alves</h3>
            <p>Backend developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-section" id="contact">
      <div class="form-section__line"></div>
      <div class="form-section__container">
        <div class="form-section__introduction">
          <p>Get in Touch! <i class="fas fa-arrow-right"></i></p>
        </div>
        <div class="form-section__group">
          <%= simple_form_for @page, html: { class: "form-home"} do |f| %>
            <%= f.input :name, label: false, placeholder: "Full name" %>
            <%= f.input :email, label: false, placeholder: "Email" %>
            <%= f.input :phone, required: false, label: false, placeholder: "Phone" %>
            <%= f.input :message, label: false, placeholder: "Your message" %>
            <%# <%= f.submit value: t('.send'), class: 'btn btn-dark float-right' %>
            <%= f.button :submit, 'Send' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="last-infos">
      <div class="last-infos__wrapper">
        <div class="card5">
          <h3>START NOW</h3>
          <p>We are ready for your challenge!</p>
          <p><a href="mailto:contato@codecaravan.com.br">contato@codecaravan.com.br</a></p>
        </div>
        <div class="card5">
          <h3>SAY HELLO</h3>
          <div class="cities">
            <p>São Paulo</p>
            <p>+55 11 98126-3581</p>
            <p>Av José de Brito de Freitas, 57</p>
            <p>Casa Verde</p>
          </div>
          <div class="cities">
            <p>Curitiba</p>
            <p>+55 41 98856-0011</p>
            <p>R. Almirante Tamandaré, 451</p>
            <p>Alto da XV</p>
          </div>
        </div>
        <div class="card5">
          <h3>JOIN OUR CARAVAN</h3>
          <p>Are you interested in joining us? Send us your application</p>
          <p><a href="mailto:jobs@codecaravan.com.br">jobs@codecaravan.com.br</a></p>
        </div>
      </div>
    </div>
    <footer>
      <div class="social_media">
        <div>
          <ul>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://open.spotify.com/playlist/5x08ErLFjT6mSKiZnC2emD?si=kNyFTMRKQ5mhyoTFy7QkaQ" target="_blank"><i class="fab fa-spotify"></i></a></li>
            <%= link_to root_path do %>
              <span class="flag-icon flag-icon-br"></span>
            <% end %>
          </ul>
          <p>© 2020 All rights reserved to Codecaravan</p>
        </div>
      </div>
    </footer>
  </div>
