<div class="mobile-container">
  <nav>
    <div class="nav__logo">
      <%= image_tag 'codecaravan-logo-square-10.svg', alt: "Code Caravan logo" %>
    </div>
    <div class="nav__menu">
      <div><a href="#services">serviços</a></div>
      <div><a href="#caravan">quem somos</a></div>
      <div><a href="#contact">contato</a></div>
    </div>
  </nav>
  <div class="banner">
    <div class="banner__info">
      <div class="banner__title">
        <h1>< Ideação e código /></h1>
          <h2>Exatamente nessa ordem.</h2>
        </div>
      </div>
      <div class="banner__text">
        <p>Ao integrar tecnologia com design, damos forma ao seu projeto. Confira todas as nossas áreas de atuação:</p>
      </div>
    </div>
    <div class="areas" id="services">
      <div class="flex-cards">
        <div class="areas__cards">
          <%= image_tag 'tech-icon-color.svg', alt: "Code icon" %>
          <h3>Tecnologia</h3>
          <ul>
            <li>Sistemas para web</li>
            <li>Sistemas mobile e desktop</li>
          </ul>
        </div>
        <div class="areas__cards">
          <%= image_tag 'digital-icon-color.svg' %>
          <h3>Digital</h3>
          <ul>
            <li>Web sites</li>
            <li>Landing pages</li>
            <li>E-commerce</li>
          </ul>
        </div>
        <div class="areas__cards">
          <%= image_tag 'design-icon-color.svg' %>
          <h3>Design</h3>
          <ul>
            <li>E-books e editoração</li>
            <li>Identidade visual</li>
            <li>Material corporativo</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner2">
      <div class="banner2__grid">
        <div class="banner2__text">
          <h3>Relação de confiança garantida</h3>
          <p>O trabalho bem feito e cumprimento de prazos são peças-chave do nosso compromisso com você.</p>
        </div>
        <div class="banner2__bg-image"></div>
      </div>
    </div>
    <div class="our_caravan__container" id="caravan">
      <div class="our_caravan">
        <div class="card_main">
          <%= image_tag 'caravan-color.svg', alt: "Wagon trolley" %>
          <h3>Nossa caravana</h3>
          <p>Conheça quem está por trás da&nbspCodecaravan</p>
        </div>
        <div class="card_cesar">
          <%= image_tag 'Cesar@2x.png', alt: "Cesar Corregiari" %>
          <div class="border">
            <h3>Cesar Corregiari</h3>
            <p>Back-end developer</p>
          </div>
        </div>
        <div class="card_debora">
          <%= image_tag 'Debora@2x.png', alt: "Debora Alves" %>
          <div class="border">
            <h3>Debora Pinheiro</h3>
            <p>Front-end developer</p>
          </div>
        </div>
        <div class="card_joao">
          <%= image_tag 'Joao@2x.png', alt: "João Alves" %>
          <div class="border">
            <h3>João Alves</h3>
            <p>Back-end developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-section" id="contact">
      <div class="form-section__container">
        <div class="form-section__introduction">
          <p>Entre em contato <i class="fas fa-arrow-down"></i></p>
        </div>
        <div class="form-section__group">
          <%= simple_form_for @page do |f| %>
            <%= f.input :name, label: false, placeholder: "Nome completo" %>
            <%= f.input :email, label: false, placeholder: "E-mail" %>
            <%= f.input :phone, required: false, label: false, placeholder: "Telefone" %>
            <%= f.input :message, label: false, placeholder: "Sua mensagem" %>
            <%# <%= f.submit value: t('.send'), class: 'btn btn-dark float-right' %>
            <%= f.button :submit, 'Enviar' %>
          <% end %>
          <%# <form action="">
            <input type="text" name="full_name" placeholder="Nome completo">
            <input type="text" name="email" placeholder="E-mail">
            <input type="text" name="fone" placeholder="Telefone">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Sua mensagem"></textarea>
            <input id='submit' type="submit" value="Enviar">
          </form> %>
        </div>
      </div>
    </div>
    <div class="last-infos">
      <div class="last-infos__wrapper">
        <div class="card5">
          <h3>COMECE AGORA</h3>
          <p>Estamos prontos para o seu&nbspdesafio!</p>
          <p><a href="mailto:contato@codecaravan.com.br">contato@codecaravan.com.br</a></p>
        </div>
        <div class="card5">
          <h3>DIGA UM OLÁ</h3>
          <div class="cities">
            <p>São Paulo</p>
            <p>+55 11 98126-3581</p>
            <p>Av José de Brito de Freitas, 57</p>
            <p>Casa Verde</p>
          </div>
          <div class="cities">
            <p>Curitiba</p>
            <p>+55 41 98856-0011</p>
            <p>R. Almirante Tamandaré, 451</p>
            <p>Alto da XV</p>
          </div>
        </div>
        <div class="card5">
          <h3>JUNTE-SE A NOSSA CARAVANA</h3>
          <p>Estamos sempre em busca de novos&nbsptalentos:</p>
          <p><a href="mailto:trabalhena@codecaravan.com.br">trabalhena@codecaravan.com.br</a></p>
        </div>
        <div class="social_media">
          <ul>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-spotify"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <p>© 2020 All rights reserved to Codecaravan</p>
    </footer>
  </div>
