<div class="desktop-container">
  <nav>
    <div class="nav__logo">
      <%= image_tag("codecaravan-logo-square-10.svg") %>
    </div>
    <div class="nav__menu">
      <div><a href="#services">serviços</a></div>
      <div><a href="#caravan">quem somos</a></div>
      <div><a href="#contact">contato</a></div>
    </div>
  </nav>
  <div class="banner">
    <div class="banner__info">
      <div class="banner__title">
        <h1>< Ideação e código /></h1>
          <h2>Exatamente nessa ordem.</h2>
        </div>
      </div>
      <div class="banner__text">
        <p>Ao integrar tecnologia com design, damos forma ao seu projeto. Confira todas as nossas áreas de&nbspatuação:</p>
      </div>
      <div class="banner__image"></div>
    </div>
    <div class="areas" id="services">
      <div class="wrapper flex-cards">
        <div class="areas__cards">
          <%= image_tag("tech-icon-color.svg") %>
          <h3>Tecnologia</h3>
          <ul>
            <li>SaaS</li>
            <li>Aplicações web</li>
            <li>Apps mobile e games</li>
          </ul>
        </div>
        <div class="areas__cards">
          <%= image_tag 'digital-icon-color.svg' %>
          <h3>Ecommerce</h3>
          <ul>
            <li>Sites</li>
            <li>Consultoria</li>
            <li>Landing pages</li>
          </ul>
        </div>
        <div class="areas__cards">
          <%= image_tag 'design-icon-color.svg' %>
          <h3>Design</h3>
          <ul>
            <li>Branding</li>
            <li>Identidade visual</li>
            <li>Ebooks e editoração</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner2">
      <div id="banner__wrapper">
        <div class="card2">
          <h3>Relação de confiança garantida</h3>
          <p>O trabalho bem feito e cumprimento de prazos são peças-chave do nosso compromisso com&nbspvocê.</p>
        </div>
      </div>
    </div>
    <div class="our_caravan__container" id="caravan">
      <div class="our_caravan">
        <div class="card_main">
          <%= image_tag('caravan-color.svg') %>
          <h3>Nossa caravana</h3>
          <p>Conheça quem está por trás da Codecaravan</p>
        </div>
        <div class="card_cesar">
          <%= image_tag('Cesar@2x.png') %>
          <div class="border-card">
            <h3>Cesar Corregiari</h3>
            <p>Backend developer</p>
          </div>
        </div>
        <div class="card_vinicius">
          <%= image_tag('Vinicius@2x.png') %>
          <div class="border-card">
            <h3>Vinicius Alvim</h3>
            <p>Backend developer</p>
          </div>
        </div>
        <div class="card_debora">
          <%= image_tag("Debora@2x.png") %>
          <div class="border-card">
            <h3>Debora Pinheiro</h3>
            <p>Frontend developer</p>
          </div>
        </div>
        <div class="card_joao">
          <%= image_tag('Joao@2x.png') %>
          <div class="border-card">
            <h3>João<br>
              Alves</h3>
            <p>Backend developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-section" id="contact">
      <div class="form-section__line"></div>
      <div class="form-section__container">
        <div class="form-section__introduction">
          <p>Entre em contato! <i class="fas fa-arrow-right"></i></p>
        </div>
        <div class="form-section__group">
          <%= simple_form_for @page, html: { class: "form-home"} do |f| %>
            <%= f.input :name, label: false, placeholder: "Nome completo" %>
            <%= f.input :email, label: false, placeholder: "E-mail" %>
            <%= f.input :phone, required: false, label: false, placeholder: "Telefone" %>
            <%= f.input :message, label: false, placeholder: "Sua mensagem" %>
            <%# <%= f.submit value: t('.send'), class: 'btn btn-dark float-right' %>
            <%= f.button :submit, 'Enviar' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="last-infos">
      <div class="last-infos__wrapper">
        <div class="card5">
          <h3>COMECE AGORA</h3>
          <p>Estamos prontos para o seu&nbspdesafio!</p>
          <p><a href="mailto:contato@codecaravan.com.br">contato@codecaravan.com.br</a></p>
        </div>
        <div class="card5">
          <h3>DIGA UM OLÁ</h3>
          <div class="cities">
            <p>São Paulo</p>
            <p>+55 11 98126-3581</p>
            <p>Av José de Brito de Freitas, 57</p>
            <p>Casa Verde</p>
          </div>
          <div class="cities">
            <p>Curitiba</p>
            <p>+55 41 98856-0011</p>
            <p>R. Almirante Tamandaré, 451</p>
            <p>Alto da XV</p>
          </div>
        </div>
        <div class="card5">
          <h3>JUNTE-SE A NOSSA CARAVANA</h3>
          <p>Gostaria de se juntar a nós? Envie seu currículo</p>
          <p><a href="mailto:trabalhena@codecaravan.com.br">trabalhena@codecaravan.com.br</a></p>
        </div>
      </div>
    </div>
    <footer>
      <div class="social_media">
        <div>
          <ul>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://open.spotify.com/playlist/5x08ErLFjT6mSKiZnC2emD?si=kNyFTMRKQ5mhyoTFy7QkaQ" target="_blank"><i class="fab fa-spotify"></i></a></li>
            <%= link_to en_path do %>
              <span class="flag-icon flag-icon-gb"></span>
            <% end %>
          </ul>
          <p>© 2020 Todos os direitos reservados a Codecaravan</p>
        </div>
      </div>
    </footer>
  </div>
